---
// src/pages/contacto.astro
import Layout from '@/layouts/Layout.astro';
import dataRaw from '../../public/data/contacto.json';
import Footer from '@/components/sections/Footer.astro';
import PageHeader from '@/components/sections/PageHeader.astro';
import ContactForm from '@/components/sections/ContactForm.astro';
import ContactInfo from '@/components/sections/ContactInfo.astro';
import contactoBanner from '@/assets/contacto-banner.webp'
import type { ContactData } from '@/types';

const data = dataRaw as unknown as ContactData;
const { seo, title, subtitle,  contactDetails, businessHours } = data;
---

<Layout title={seo.title} description={seo.description}>
    
  <main id="main-content">
    <PageHeader 
      title={title} 
      subtitle={`${subtitle} `} 
      variant="image"
      align="left" 
      backgroundImage={contactoBanner}
      breadcrumbs={[
        { label: 'Contacto' }
      ]}
    />

    <section class="section-padding bg-white">
      <div class="container-site">
        <div class="grid grid-cols-1 lg:grid-cols-12 gap-12 items-start">
          
          {/* Column Left: Map & Info */}
          <div class="lg:col-span-5 xl:col-span-4">
            <ContactInfo 
              contactDetails={contactDetails}
              businessHours={businessHours}
            />
          </div>

          {/* Column Right: Form */}
          <div class="lg:col-span-7 xl:col-span-8">
            <ContactForm />
          </div>

        </div>
      </div>
    </section>
  </main>

  <Footer />
</Layout>
